
back-end/mysite/apifile/__pycache__/__init__.cpython-39.pyc
back-end/mysite/apifile/__pycache__/admin.cpython-39.pyc
back-end/mysite/apifile/__pycache__/apps.cpython-39.pyc
back-end/mysite/apifile/__pycache__/events.cpython-39.pyc
back-end/mysite/apifile/__pycache__/grids.cpython-39.pyc
back-end/mysite/apifile/__pycache__/models.cpython-39.pyc
back-end/mysite/apifile/__pycache__/tests.cpython-39.pyc
back-end/mysite/apifile/__pycache__/urls.cpython-39.pyc
back-end/mysite/apifile/__pycache__/views.cpython-39.pyc
back-end/mysite/mysite/__pycache__/__init__.cpython-39.pyc
back-end/mysite/mysite/__pycache__/settings.cpython-39.pyc
back-end/mysite/mysite/__pycache__/urls.cpython-39.pyc
back-end/mysite/mysite/__pycache__/wsgi.cpython-39.pyc

*.pyc
back-end/mysite/mysite/__pycache__/settings.cpython-38.pyc
*.pyc
back-end/.DS_Store
back-end/mysite/.DS_Store
back-end/mysite/apifile/__pycache__/grids.cpython-38.pyc
back-end/mysite/apifile/__pycache__/models.cpython-38.pyc
back-end/mysite/db.sqlite3
back-end/mysite/db.sqlite3
back-end/mysite/mysite/__pycache__/settings.cpython-38.pyc
*.pyc
back-end/mysite/db.sqlite3
.DS_Store
back-end/mysite/apifile/__pycache__/grids.cpython-38.pyc
